extends ../layout.jade
block contenido
	div(class = "container pt-4 formregistro")
		h1 Modificar producto
		br
		form(action = "/admin/confirmarmodificacion" method = "POST" enctype="multipart/form-data")
			div(class = "form-group row")
				label(for="referencia" class="col-md-2 col-form-label") Referencia:
				input(value = "#{producto.ID_PRODUCTO}" type = "number" placeholder = "Código de referencia" name = "referencia" id = "referencia" class = "form-control col-md-6" required = "required" readonly)
			div(class = "form-group row")
				label(for="nombre" class="col-md-2 col-form-label") Nombre:
				input(value = "#{producto.NOMBRE}" type = "text" placeholder = "Nombre del producto" name = "nombre" id = "nombre" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="descripcion" class="col-md-2 col-form-label") Descripción:
				input(value = "#{producto.DESCRIPCION}" type = "text" placeholder = "Descripción del producto" name = "descripcion" id = "descripcion" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="tipo" class="col-md-2 col-form-label") Tipo:
				input(value = "#{producto.TIPO}" type = "text" placeholder = "Tipo producto" name = "tipo" id = "tipo" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="materiales" class="col-md-2 col-form-label") Materiales:
				input(value = "#{producto.MATERIAL}" type = "text" placeholder = "Materiales del producto" name = "materiales" id = "materiales" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="alto" class="col-md-2 col-form-label") Alto:
				input(value = "#{producto.ALTO}" type = "number" placeholder = "Alto del producto (cm)" name = "alto" id = "alto" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="ancho" class="col-md-2 col-form-label") Ancho:
				input(value = "#{producto.ANCHO}" type = "number" placeholder = "Ancho del producto (cm)" name = "ancho" id = "ancho" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="profundidad" class="col-md-2 col-form-label") Profundidad:
				input(value = "#{producto.PROFUNDIDAD}" type = "number" placeholder = "Profundidad del producto (cm)" name = "profundidad" id = "profundidad" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="color" class="col-md-2 col-form-label") Color:
				input(value = "#{producto.COLOR}" type = "text" placeholder = "Color del producto" name = "color" id = "color" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="peso" class="col-md-2 col-form-label") Peso:
				input(value = "#{producto.PESO}" type = "number" placeholder = "Peso del producto(Gramos)" name = "peso" id = "peso" class = "form-control col-md-6" required = "required")
			div(class = "form-group row")
				label(for="imagen" class = "col-md-2 col-form-label") Imagen:
				div(class = "col-md-2")
					img(src = "/static/images/productos/default.png" class = "imgproducto")
				input(type = "file" class="form-control-file col-md-4" id="imagen" name = "imagen")
			div(class = "form-group row pl-0")
				div(class = "col-5")
					div(class = "btn btn-primary btn-block" data-toggle="modal" data-target="#confirmarEliminacion") Guardar cambios
					div(class = "modal fade" id="confirmarEliminacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
											div(class = "modal-dialog" role="document")
												div(class = "modal-content")
													div(class = "modal-header")
														h5(class = "modal-title") Modificar producto
														button(type = "button" class = "close" data-dismiss = "modal" aria-label="Close")
															span(aria-hidden = "true") &times;
													div(class = "modal-content")
														div(class = "container pt-4 pb-4")
															p ¿Desea modificar el producto?
													div(class = "modal-footer")
														button(type = "button" class = "btn btn-secondary" data-dismiss="modal") Cancelar
														button(type = "submit" class = "btn btn-primary") Guardar cambios
				div(class = "col-3")
					a(href = "/admin/productos" class = "btn btn-secondary btn-block") Cancelar