extends ../layout.jade
block contenido
	div(class = "container pt-4 pb-4")
		div(class = "row titulocarrito")
			h1(class = "col-9") Resumen de compra
			h1(class = "col-3") Detalles
		div(class = "row")
			div(class = "col-9")
				table(class="table table-bordered table-light table-hover")
					thead(class="thead-light")
						tr
							th(scope="col") Imagen
							th(scope="col") Cod. Referencia
							th(scope="col") Nombre
							th(scope="col") Precio unitario
							th(scope="col") Cantidad
							th(scope="col") Precio total
					tbody
						- for(var i = 0; i < carrito.length; i++){
							tr
								td
									img(class = "imagencarrito" src = "/static/images/productos/#{carrito[i].FOTO}")
								td #{carrito[i].ID_PRODUCTO}
								td #{carrito[i].NOMBRE}
								td #{carrito[i].PRECIO_VENTA}
								td #{carrito[i].CANTIDADAGREGADA}
								td #{carrito[i].PRECIO_VENTA * carrito[i].CANTIDADAGREGADA}
						- }
			div(class = "col-3")
				table(class="table table-bordered table-light table-hover")
					tbody
						tr
							td Subtotal
							td $ #{subtotal}
						tr
							td Envio
							td $ 20000
						tr
							td Total
							td $ #{subtotal + 20000}
				div(class = "col-12 alinearderecha pl-0 pr-0")
					a(href = "/user/pagar" class = "btn btn-primary btn-block") Pagar