extends ../layout.jade
block contenido
	div(class = "container pt-4 pb-4")
		div(class = "row")
			div(class = "col-5 contenedorimagendetalle")
				img(src = "/static/images/productos/#{producto.foto}" class = "imagendetalleproducto")
			div(class = "col-7")
				div(class = "container pl-5")
					div(class = "row")
						h4(class = "infodetalleproducto") Cod. de referencia: #{producto.id}
					div(class = "row")
						h4(class = "infodetalleproducto") #{producto.nombre}
					div(class = "row")
						h6(class = "infodetalleproducto") #{producto.descripcion}
					div(class = "row")
						h3(class = "infodetalleproducto precioinfoproducto") Precio: $#{producto.precio}
					div(class = "row")
						h6(class = "infodetalleproducto") Unidades disponibles: #{producto.cantidad}
					div(class = "row")
						h6(class = "infodetalleproducto") Materiales: #{producto.material}
					- if(type_user == 1){
						div(class = "row")
							a(href = "/user/agregaralcarrito/?id=#{producto.id}" class="btn btn-primary btn-block col-8")
								i(class="material-icons") add_shopping_cart
					- }
		