extends ../layout.jade
block contenido
	div(class = "container pt-4 pb-4")
		div(class = "row")
			div(class="card-deck col-12")
				- for(var i = productos.length - 1; i >= 0; i--)
					div(class = "card pb-4")
						div(class = "card-body")
							h5(class = "nombreproducto") Ref. #{productos[i].ID_PRODUCTO} Nombre: #{productos[i].NOMBRE}
							img(class="card-img-top showproduct" src="/static/images/productos/#{productos[i].FOTO}" alt="Card image cap")
							h5 Material: #{productos[i].MATERIAL}
							a(href = "/shop/detalleproducto/?id=#{productos[i].ID_PRODUCTO}" class = "clikable")
							div(class = "container-fluid pl-0")
								div(class = "row")
									div(class = "col-12")
										a(href = "/shop/detalleproducto/?id=#{productos[i].ID_PRODUCTO}" class="btn btn-primary btn-block") Ver detalles
								div(class = "row")
									div(class = "col-12 pt-2")
										- if(type_user == 1){
											a(href = "/user/agregaralcarrito/?id=#{productos[i].ID_PRODUCTO}" class="btn btn-primary btn-block")
												i(class="material-icons") add_shopping_cart
										- }